
Overview of Changes

1. Levels - Krish
2. Setup - Granth * 3 Boons* 3 Questions* 3 Days outside Yama’s House* 3 Characters (Father, Nachiketa, Lord Yama)* Body ~ Chariot Analogy* Symbolism of Om - The Ultimate Solution* Temptations - Chariots/ Elephants/ Long life/ Many children with longer life/ Riches/ Gold/ Pearls/ Horses
3. Gameplay - Japesh ~ Level one,roots: The backround can be roots.  
4. End Goals - Yash, Mahir