Overview of Changes

1. Levels - Krish
2. Setup - Granth - 3 Boons, 3 Questions, 3 Days, 3 Character Models, 3 Character Textures, Move Animations, Voice Overs, and Textures
3. Gameplay - Japesh
4. End Goals - Yash, Mahirrr
Get a working game that can be played and has controls.
Make it run at a good frame rate and it should be based around Natchiketa's story.
Make it an optional local multiplayer for it but it does not have to be MANDITORY.
Set up a help menu.
Be able to pause the game and everything stops in-game.
Make in-game music and volume capabilities.
Have a good story and make it realistic to the Natchiketa's story.
3. Gameplay - Japesh~Level one,roots: The backround can be roots. 
    We can have a picture of roots as the wall and only some animals will be on this level. Only the ones that live on branches.
4. End Goals - Yash, Mahir
